body {
    padding-top: 80px;
    background-image: url("/fp/assets/groovepaper.png");
}

.arrow-toggle .icon-arrow-down,
.arrow-toggle.collapsed .icon-arrow-up {
    display: inline-block;
}
.arrow-toggle.collapsed .icon-arrow-down,
.arrow-toggle .icon-arrow-up {
    display: none;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 10px;
  line-height: 1;
  border-radius: 15px;
}

.navbar-default {
    background-color: #DDDDDD;
    border-color: #CCCCCC;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.control-label {
    font-weight: normal;
    font-style: italic;
}

.navbar-default .navbar-brand {
    color: #444;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #777;
}

.modal-narrow {
    width: 300px;
}
